@import "./common";

body {
  background-color: $bg;
  color: white;
  header {
    text-align: center;
    padding: 20px 0;
  }
  button {
    background: transparent;
    border: 1px solid white;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 500ms;
    cursor: pointer;
    &:hover {
      background: white;
      color: black;
    }
  }
}
